@import '~bootstrap/scss/bootstrap';

.user-controls-not-logged {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.dropdown {
  padding-left: 20px;
}

.message {
  text-align: center;
}

header {
  text-align: center;
}

.hidden {
  display: none;
}
//
// .user{
//  display: flex;
//  flex-direction: row;
//  width: 50%;
// }
