@import '~bootstrap/scss/bootstrap';

body {
  width: 100%;
  background-color: #e8d0b9;
}

header {
  background-color: white;
}

section {
  width: 30%;
  background: white;
  border: 1px solid;
  outline: none;
  padding: 8px;
  border-radius: 10px;
}

.content {
  display:flex;
  @include make-row;
  justify-content: center;
}

.user-controls-not-logged {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

span {
  color: #8ad370;
}

.message {
  color: #8ad370;
}

h6 {
  color: blue;
}

.dropdown-menu {
  width: 20rem;
}

.btn-secondary,
.btn-warning {
  width: 15rem;
  margin-left: 5px;
  margin-right: 5px;
}

.user-controls-logged {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.dropdown {
  padding-left: 5px;
  padding-right: 5px;
}

.message {
  text-align: center;
}

header {
  text-align: center;
}

.hidden {
  display: none;
}
