@import '~bootstrap/scss/bootstrap';

body {

}

section {
  width: 30%;
  background: white;
  border: 1px solid;
  outline: none;
  padding: 1rem;
}

.content {
  @include make-row;
}

.user-controls-not-logged {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

span {
  color: #8ad370;
}

.message {
  color: #8ad370;
}

h6 {
  color: blue;
}

.dropdown-menu {
  width: 10rem;
}

.btn-secondary {
  width: 15rem;
}

.user-controls-logged {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
}

.dropdown {
  padding-left: 20px;
}

.message {
  text-align: center;
}

header {
  text-align: center;
}

.hidden {
  display: none;
}
